
# Canonical Name <Canonical Email>  <Old Email>
Gunarathna RP <163238777+RP1999@users.noreply.github.com> <hansikachalani875@gmail.com>
Gunarathna RP <163238777+RP1999@users.noreply.github.com> <it22925572@my.sliit.lk>
Gunarathna RP <163238777+RP1999@users.noreply.github.com> <promoranidu@gmail.com>

# Name-based mapping (Aggregates these names to the canonical identity)
Gunarathna RP <163238777+RP1999@users.noreply.github.com> Chala-ni <hansikachalani875@gmail.com>
Gunarathna RP <163238777+RP1999@users.noreply.github.com> Ranidu Pramod <it22925572@my.sliit.lk>
Gunarathna RP <163238777+RP1999@users.noreply.github.com> Ranidu Pramod <promoranidu@gmail.com>
